@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700');

* {
  box-sizing: content-box;
}

a {
  text-decoration: none;
  display: block;
  color: #6379d2;
}

body{
    width: 70%;
    margin: 20px auto;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

.fab {
  font-size: 40px;
  padding-right: 10px;
}

.navigation{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dddddd;
    border-top: 3px solid #cccccc;
    padding: 10px;

    &__search{
      width: 300px;
        #username{
          width: 250px;
        }
    }
    &__options{
        padding-left: 0;
        font-weight: 700;
        li{
          padding: 0 15px;
          text-decoration: none;
          display: inline;
        }
    }
}

.full-container{
    display: flex;
    flex-direction: row;
}

.left{
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    &__photo{
      width: inherit;
      &__bigImage{
        border-radius: 10px;
        width: 100%;
      }
    }
    &__complete-name {
      margin: 10px 0;
      padding: 0;
    }
    &__user-github{
      margin: 10px 0;
      padding: 0;
    }
    &__button{
        width: 170px;
        background: linear-gradient(#ffffff, #efefef);
        font-weight: 700;
        color: #000;
        padding: 10px;
    }
    &__reportUser{
        font-size: 13px;
        color: gray;
        padding: 10px 0;
        border-bottom: 2px solid #dddddd;
        margin: 2px 0;
    }
    &__workplace{
        margin: 0;
    }
    &__location{
      margin: 5px 0;
    }
    &__email{
      margin-bottom: 5px;
      font-size: 12px;
    }
    &__web{
      font-size: 12px;
    }
}

.repoList{
    width: 100%;
    &__container{
      padding: 0 5px;
      &__title {
        font-size: 20px;
      }
      &__details{
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        border-bottom: 1px solid #cccccc;
        &__language{
          padding-right: 16px;
          margin: 0;
          }
          &__forks{
            padding:0 16px;
            margin: 0;
          }
          &__date{
            padding:0 16px;
            margin: 0;
          }
        }
      }
    }
